/* Font Style */

@font-face { 
   font-family: 'Noto Sans KR'; 
   src: url(../font/NotoSans-Thin.woff2) format('woff2');
   font-weight: 100;
}

@font-face { 
   font-family: 'Noto Sans KR'; 
   src: url(../font/NotoSans-Light.woff2) format('woff2');
   font-weight: 200;
}

@font-face { 
   font-family: 'Noto Sans KR'; 
   src: url(../font/NotoSans-DemiLight.woff2) format('woff2');
   font-weight: 300;
}

@font-face { 
   font-family: 'Noto Sans KR'; 
   src: url(../font/NotoSans-Regular.woff2) format('woff2');
   font-weight: 400;
}
@font-face { 
   font-family: 'Noto Sans KR'; 
   src: url(../font/NotoSans-Medium.woff2) format('woff2');
   font-weight: 500;
}

@font-face { 
   font-family: 'Noto Sans KR'; 
   src: url(../font/NotoSans-Bold.woff2) format('woff2');
   font-weight: 700;
}


body, html {
   font-family: 'Noto Sans KR', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   color: rgb(255,255,255);
   background-color: rgb(0,0,0);
   font-size: 16px;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
h1 {
   font-size: 4rem;
}
h2 {
   font-size: 1.625rem;
}

@media only screen and (min-width: 550px) and (max-width: 949px) {
   h1 {
      font-size: 3.125rem;
   }
}
@media only screen and (max-width: 549px) {
   h1 {
      font-size: 1.75rem;
   }
   h2 {
      font-size: 1.125rem;
      margin: 1rem auto;
   }
}