/* Hero Section */
.hero {
   width: 100%;
   height: 800px;
   background-image: url(../img/poster_1.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}
#hero .hero-wrap {
   background-color: rgba(0, 0, 0, 0.5);
   background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 800px;
   padding-top: 250px;
   text-align: center;
   border-bottom: 8px solid #222;
}
.gnb {
   width: 100%;
   height: 5rem;
   position: absolute;
   top: 30px;
   left: 0;
   right: 0;
   z-index: 10;
   padding: 0 3.5rem;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.gnb-logo {
   width: 10.4375rem;
   height: 2.8125rem;
   fill: rgb(229,9,20);
}
.gnb-login {
   background-color: rgb(229,9,20);
   padding: 7px 17px;
   color: #fff;
   border-radius: 3px;
   font-size: 1rem;
   font-weight: 400;
}
.hero-subtitle {
   margin: 1rem auto;
   font-weight: 400;
}
.hero-detail {
   font-size: 1rem;
   font-weight: 400;
}
.hero-desc {
   font-size: 1rem;
   font-weight: 400;
   margin: .25em 0;
}
.show {
   display: none;
}
.hero-input {
   display: block;
   width: 400px;
   height: 55px;
   border-radius: 4px 0 0 4px;
   border: none;
   padding: 0 20px;
   font-family: 'Noto Sans KR';
   font-size: 1rem;
   color: rgb(0,0,0);
}
.hero-input:focus {
   outline: 0;
}

.hero-submit {
   display: block;
   background-color: rgb(229,9,20);
   color: #fff;
   height: 55px;
   border-radius: 0 4px 4px 0;
   padding: 0 30px;
   font-size: 1rem;
}
.login-wrap {
   display: flex;
   justify-content: center;
   margin: 2.5rem 0;
}

@keyframes fade_in {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 1;
   }
}

.effect-fade-in {
   animation: fade_in 2s;
}

/* Story Card Section */
.story-card {
   position: relative;
   border-bottom: 8px solid #222;
   padding: 70px 45px;
}
.story-card-container {
   max-width: 1100px;
   min-height: 100px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.story-card-text {
   margin: -5% 0;
   width: 52%;
   height: 100%;
   padding: 0 3rem 0 0;
}
.story-card-text:nth-child(2) {
   padding: 0 0 0 3rem;
}
.story-card-title {
   font-size: 3.125rem;
   margin-bottom: .5rem;
}
.story-card-subtitle {
   font-size: 1.625rem;
   font-weight: 400;
   margin: .75em 0 .25em;
}
.story-card-img {
   width: 48%;
   height: 100%;
   display: flex;
   flex: 0 1 auto; 
   position: relative;
}
.story-card-img img {
   z-index: 2;
   width: 100%;
   height: 100%;
}
.animation {
   width: 100%;
   height: 100%;
   max-width: 73%;
   max-height: 54%;
   position: absolute;
   z-index: 0;
   top: 83px;
   left: 69px;
   /* position: absolute;
   top: 48%;
   left: 50%;
   transform: translate(-50%, -50%); */
}
.story-card-video {
   width: 100%;
   height: 100%;
   display: inline-block;
   vertical-align: baseline;
}
.animation_2 {
   width: 100%;
   height: 100%;
   max-width: 63%;
   max-height: 47%;
   position: absolute;
   z-index: 0;
   top: 60px;
   left: 90px;

/* 
   position: absolute;
   top: 34%;
   left: 50%;
   transform: translate(-50%, -50%); */
}
.card-animation {
   padding: .5em .75em;
   position: absolute;
   left: 50%;
   bottom: 8%;
   transform: translateX(-50%);
   background-color: #000;
   border-radius: .75em;
   box-shadow: 0 0 2em 0 #000;
   border: 2px solid rgba(255,255,255,.25);
   width: 60%;
   min-width: 15em;
   display: flex;
   align-items: center;
   z-index: 10;
}
.card-animation-img {
   margin-right: 1em;
}
.card-animation-img img {
   height: 5em;
   width: auto;
   border: 0;
}
.card-animation-txt {
   margin: .3em 0;
}
.text-0 {
   font-size: 1em;
   color: #fff;
   font-weight: 600;
}
.text-1 {
   font-size: .9em;
   color: rgb(0,113,235);
   font-weight: 400;
}
.card-animation:after {
   height: 3.75em;
   width: 3em;
   outline: 2px solid #000;
   outline-offset: -2px;
   display: block;
   background-image: url(../img/download-icon.gif);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 100%;
   content: '';
   position: absolute;
   right: .75em;
}

/* FAQ Section */
svg {
   width: 24px;
   height: 24px;
   fill: rgb(255,255,255);
}

.faq {
   padding: 70px 45px;
   border-bottom: 8px solid #222;
}

.faq .faq-title {
   font-size: 50px;
   font-weight: 700;
   margin-bottom: 8px;
   text-align: center;
}

.faq .faq-list {
   max-width: 815px;
   margin: 52px auto;
}

.faq .faq-list li {
   margin-bottom: 8px;
   overflow: hidden;
   max-height: 69px;
   transition: all 1s;
}
.faq .faq-list li.clicked{
   max-height: 500px;
}

.faq .faq-list li .faq-item {
   display: block;
   text-align: left;
   background-color: rgb(48,48,48);
   padding: 20px 30px;
   margin-bottom: 1px;
   width: 100%;
   position: relative;
   cursor: pointer;
}

.faq .faq-list li .faq-answer {
   display: block;
   background-color: rgb(48,48,48);
   padding: 32px;
}

.faq .faq-list li .faq-item svg {
   float: right;
   transform: translateY(-100%) rotate(45deg);
   transition: all 0.6s;
}
.faq .faq-list li.clicked .faq-item svg {
   transform: translateY(-100%) rotate(90deg);
}
.email-form-title {
   text-align: center;
   padding-bottom: 20px;
   font-size: 1.2rem;
   padding: 0 5%;
   margin: auto;
   font-weight: 400;
}

/* Footer Section */

.footer-card {
   position: relative;
   padding: 70px 45px;
   max-width: 1000px;
   margin: 0 auto;
}
.footer-wrap {
   min-width: 190px;
   width: 100%;
   padding-bottom: 20px;
   font-size: 1em;
   color: #757575;
}
.footer {
   width: 90%;
   margin: 0 auto;
}
.footer-top {
   margin-bottom: 30px;
}
.footer-top-tel,
.footer-link {
   color: #757575;
}
.footer-top-tel:hover,
.footer-link:hover {
   text-decoration: underline;
}
.footer-link-item {
   margin-bottom: 16px;
   display: inline-block;
   width: calc(25% - 12px);
   padding-right: 12px;
   min-width: 100px;
   vertical-align: top;
}
.footer-link {
   font-size: 13px;
}
.footer-links {
   max-width: 1000px;
}

.select-arrow {
   position: relative;
   display: inline-block;
   width: 100%;
   margin-top: 20px;
}
.ui-select {
   padding: 1px 5px 1px 15px;
   line-height: 1.5;
   background-color: #000;
   border: 1px solid #333;
   color: #999;
   font-size: 0.9rem;

   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}
.ui-select:focus {
   outline: 0;
}

.footer-country {
   font-size: 13px;
   margin-top: 24px;
}
.copy-text {
   color: gray;
   margin: 20px 0;
   font-size: .75rem;
   line-height: 1.2rem;
}


@media only screen and (max-width: 949px) {
   
   .login-wrap {
      display: unset;
   }
   .hero-input {
      height: 45px;
      border-radius: 4px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
   }
   .hero-submit {
      height: 45px;
      border-radius: 4px;
      margin: 10px 0;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
   }
   .story-card-container {
      flex-direction: column;
   }
   #card-02 .story-card-container {
      flex-direction: column-reverse;
   }
   .story-card-text {
      text-align: center;
      display: block;
      padding: 0;
      width: 100%;
      z-index: 3;
   }   
   .story-card-img {
      width: 100%;
      max-width: 600px;
   }
   .story-card-text:nth-child(2) {
      padding: 0 0 0 0;
   }
   #card-01 .story-card-title,
   #card-02 .story-card-title,
   #card-03 .story-card-title {
      margin-top: 3rem;
   }
   #card-03 .story-card-img {
      margin-top: 5%;
   }
   .email-form-title {
      margin: 1rem 0;
   }
   .faq {
      padding: 70px 20px;
   }
   .footer {
      width: 100%;
      margin: 0;
   }
   .footer-link-item {
      width: calc(33.33% - 12px);
      padding-right: 12px;
   }



}


@media only screen and (min-width: 550px) and (max-width: 949px) {
   .hero {
      height: 680px;
   }
   #hero .hero-wrap {
      height: 680px;
   }
   #hero .hero-wrap {
      padding-top: 200px;
   }
   .gnb {
      padding: 0 45px;
   }
   .gnb-logo {
      width: 6.75rem;
      height: 2rem;
   }
   .story-card-title {
      font-size: 2.5rem;
   }
   .story-card-subtitle {
      font-size: 1.25rem;
   }
   .animation {
      top: 87px;
      left: 79px;
   }
   .animation_2 {
      top: 60px;
      left: 100px;
   }
}


@media only screen and (max-width: 549px) {
   .hero {
      height: 550px;
   }
   #hero .hero-wrap {
      height: 550px;
   }
   #hero .hero-wrap {
      padding-top: 150px;
   }
   .gnb {
      padding: 0 5%;
   }
   .gnb-logo {
      width: auto;
      height: 1.5rem;
   }
   .hide {
      display: none;
   }
   .show {
      display: block;
   }
   
   .story-card {
      padding: 50px 5%;
   }
   .story-card-title {
      font-size: 1.625rem;
   }
   .story-card-subtitle {
      font-size: 1.125rem;
   }
   .hero-detail {
      font-size: 0.8rem;
   }
   .hero-desc {
      font-size: 0.8rem;
   }
   .faq {
      padding: 70px 10px;
   }
   .faq .faq-title {
      font-size: 1.625rem;
   }
   .faq .faq-list {
      max-width: 815px;
      margin: 1.25em auto;
   }
   .faq .faq-list li .faq-item h3 {
      font-size: 0.9rem;
      line-height: 2rem;
      vertical-align: bottom;
   }
   .faq .faq-list li .faq-item {
      padding: 20px 15px;
   }
   .faq .faq-list li .faq-answer {
      font-size: 0.9rem;
      padding: 20px;
   }
   svg {
      width: 18px;
      height: 18px;
   }
   .email-form-title {
      font-size: 16px;
   }
   .footer-card {
      padding: 50px 5%;
   }
   .card-animation {
      padding: .25em .65em;
      width: 80%;
      bottom: -5%;
   }
   .card-animation-img img {
      height: 3em;
   }
   .text-0 {
      font-size: 0.9em;
   }
   .text-1 {
      font-size: .75em;
   }
   .gnb-login {
      padding: 5px 12px;
      font-size: 0.9rem;
   }
   .faq .faq-list li .faq-item svg {
      transform: translateY(-120%) rotate(45deg);
   }
   .faq .faq-list li.clicked .faq-item svg {
      transform: translateY(-120%) rotate(90deg);
   }
   .animation {
      top: 70px;
      left: 60px;
   }
   .animation_2 {
      top: 50px;
      left: 80px;
   }

}
@media only screen and (max-width: 500px) {
   #hero .hero-wrap {
      padding-top: 150px;
   }
   .footer-link-item {
      width: 40%;
      padding-right: 0;
   }
   .footer-link-item:nth-child(2n) {
      margin-left: 2rem;
   }
   .hero-input {
      width: 350px;
   }
   .animation {
      top: 70px;
      left: 60px;
   }
   .animation_2 {
      top: 50px;
      left: 80px;
   }

}
@media only screen and (max-width: 449px) {
   .animation {
      top: 60px;
      left: 50px;
   }
   .animation_2 {
      top: 50px;
      left: 70px;
   }
}

@media only screen and (max-width: 375px) {
   .animation {
      top: 50px;
      left: 40px;
   }
   .animation_2 {
      top: 30px;
      left: 60px;
   }
}